# Specify filepatterns you want git to ignore.

*~
*.o
*.pyc
*.pyo
*.a
*.so
*.os
*.orig
*.DS_Store
*.sconsign.dblite
*.tmproj
*.mchg
*.sublime-*


compile.py
config.py
lib/*
**/build/*
bin/
*.exp
**/.waf*
**/.lock-waf_*
